// build webfont source
@mixin webfont-src ($base, $id) {
	src: url('#{$base}.eot');
	src: url('#{$base}.eot?#iefix') format('embedded-opentype'),
		url('#{$base}.woff') format('woff'),
		url('#{$base}.svg##{$id}') format('svg'),
		url('#{$base}.ttf') format('truetype');
}

// hide text from current element
@mixin hide-text () {
	text-indent: -100%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	color: transparent !important;
}

// clear floats
@mixin clearfix () {
	zoom: 1;
	&:after {
		display: block;
		visibility: hidden;
		height: 0;
		clear: both;
		content: ".";
	}
}

// add automatic hyphens (set lang=".." on parent element)
@mixin hyphenate () {
	     -o-hyphens: auto;
	    -ms-hyphens: auto;
	   -moz-hyphens: auto;
	-webkit-hyphens: auto;
	        hyphens: auto;
}

// convert current element to horizontal list
@mixin horizontal-list ($noSpaces : true) {
	display:block;
	list-style:none;
	@if $noSpaces {
		@include clearfix();
	}
	li {
		display:inline-block; // compass: @include inline-block();
		margin:0;
		padding:0;
		@if $noSpaces {
			float:left;
		}
	}
}

// on retina, use image that's scaled by 2
@mixin background-retina($originalBackground, $retinaBackground, $width, $height) {
  background-image: url($originalBackground);
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($retinaBackground);
    background-size: $width $height;
  }
}

@mixin visuallyhidden () {
	position: absolute;
	width: 1px; // Setting this to 0 make it invisible for VoiceOver
	height: 1px; // Setting this to 0 make it invisible for VoiceOver
	padding: 0;
	margin: -1px;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@mixin animation ($name, $duration, $timing-function:'ease', $delay:0, $iteration-count:1, $direction:'normal') {
	     -o-animation: #{$name} #{$duration} #{$timing-function} #{$delay} #{$iteration-count} #{$direction};
	    -ms-animation: #{$name} #{$duration} #{$timing-function} #{$delay} #{$iteration-count} #{$direction};
	   -moz-animation: #{$name} #{$duration} #{$timing-function} #{$delay} #{$iteration-count} #{$direction};
	-webkit-animation: #{$name} #{$duration} #{$timing-function} #{$delay} #{$iteration-count} #{$direction};
	        animation: #{$name} #{$duration} #{$timing-function} #{$delay} #{$iteration-count} #{$direction};
}

@mixin keyframes ($name) {
	@-o-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-webkit-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@function toolshed-rem ($value-px, $base-px, $relative : 0) {
	@return #{($value-px / $base-px) + $relative}rem;
}