// build webfont source
@mixin webfont-src ($base, $id) {
  src: url('#{$base}.eot');
  src: url('#{$base}.eot?#iefix') format('embedded-opentype'),
       url('#{$base}.woff') format('woff'),
       url('#{$base}.svg##{$id}') format('svg'),
       url('#{$base}.ttf') format('truetype');
}

// hide text from current element
@mixin hide-text () {
  text-indent: -100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  color: transparent !important;
}

// convert current element to horizontal list
@mixin horizontal-list () {
  display:block;
  list-style:none;
  li {
    display:inline-block;
    margin:0;
    padding:0;
  }
}

// clear floats
@mixin clearfix() {
  zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
  }
}